/*

Authors: Owiny Ayorech, Nicolas Tambellini
Date: July, 4 2019
Version: 1.9
Functionality:

*/

/* Body Styling */
html,body,main{
    height: 100%;
    font-family: 'Kalam',cursive;
    overflow: auto;
 }
 main{
    padding-bottom: 120px;
    padding-left: 1%;
    padding-right: 1%;
 }
 footer{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 1%;
 }
 #holder{
    min-height: 100%;
    position:relative;
 }
 
  .bg {
    /* The image used */
    background-image: url("../images/travel/capturing-the-human-heart-TrhLCn1abMU-unsplash.jpg");
    min-height:100%;
    max-width:100%;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
  }
 
 /* Header Styling */
 .main-title {
            max-width:100vw;
            font-size:72px;
            font-size:8.0vw;
            font-weight:700;
            color:rgb(235, 174, 117);
            padding: 10px;
            display:inline;
            vertical-align:middle;
            text-shadow:
            -1px -1px 0 #FFF,
            1px -1px 0 #FFF,
            -1px 1px 0 #FFF,
            1px 1px 0 #FFF;
        }
 
 .main-logo {
    border:3px solid rgb(235, 174, 117);
    height:15%;
    width:15%;
    margin:0;
    align:left;
    display:inline-block;
    vertical-align:middle;
 }
 
 .header {
    background-color:rgba(26, 30, 54, 0.5);
    margin:0 auto;
    margin-bottom:5vh;
    padding:10px;
    max-width:100vw;
    position:relative;
 }
 
 /* Nav-bar Styling */
 .nav-item.nav-link {
    vertical-align: bottom;
 }
 
 
 nav {
    margin-bottom:25px;
 }
 
 .navbar {
    display:block;
 }
 
 .pull-right {
    float:right;
 }
 
 a.nav-link {
    font-size:24px;
 }
 
 /* Image Slider Styling */
 .img-slider {
 
        margin:auto;
        top:0;
        left:0;
        max-width:800px;
        max-height:400px;
        object-fit:cover;
        object-position:center;
 }
 
 /* Footer Styling */
 .copyright {
        position:absolute;
        width:100%;
        bottom:0;
        color:rgb(109, 4, 165);
 }
 
 /*Contact Styling*/
 .indent{
    margin-left:50px;
    overflow-wrap:break-word;
    white-space:wrap;
    }
 
 .agency-info {
    font-size:24px;
 }
 
 section.company-info{
    margin-left:3%;
    margin-top:5%;
 }
 
 /* Registration Form Styling */
 .reg-form {
    border:3px solid rgb(235, 174, 117);
    padding:5px;
    width:50%;
    margin:0 auto;
    color:rgb(109, 4, 165);
    font-weight:700;
    font-size: 12px;
 }
 
 .form-control {
    font-size: 12px;
 }
 
 .photo {
    margin-top:5vh; 
    max-width:800px;
    max-height:400px;
    margin-left:5vw;
    margin-right:5vw;
    border:3px solid rgb(235, 174, 117);
    width:38%;
 }
 
 
#descTable {
    margin-top:5vh;
    border:3px solid rgb(235, 174, 117);
 }
 
 section{
    display:flex;
 }

 .hint{
   display: inline; 
   color:red;
 }
 
 
 /* moving globe image */
 #wrapper {
    position: absolute;
    top: 82%;
    left: 0;
    height: 50px;
    right: 50px;
 }
 #ball {
    margin-bottom: 50%;
    height: 50px;
    width: 50px;
    border:1px solid rgb(235, 174, 117);
    background: blue;
    border-radius: 50px;
    position: absolute;
    left: 0;
    animation: animate 8s linear 0s infinite alternate;
 }
 @keyframes animate {
    from { left: 100%; }
    to { left: 0; }
 }

 /* link page styling */
 #linkTable {
    border:3px solid rgb(235, 174, 117);
    overflow-wrap:break-word;
 }

 /* Welcome Message */
.welcome {
   width:40%;
   margin-left:auto;
   margin-right:auto;
   text-align:center;
   color: rgb(0, 26, 255);
   font-size:28px;
   text-shadow:
            -1px -1px 0 #FFF,
            1px -1px 0 #FFF,
            -1px 1px 0 #FFF,
            1px 1px 0 #FFF;
}